<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans" rel="stylesheet">
  
  
<link rel="stylesheet" href="../static/css/style.css">
<!-- Script needed for jQuery script in bug form -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	hi
	<style>
		#my_camera{
		 width: 320px;
		 height: 240px;
		 border: 1px solid black;
		}
	</style>
	<div id="my_camera"></div>
	<input type=button value="Take Snapshot" onClick="take_snapshot()">
	 
	<div id="results" ></div>
	 
	<!-- Webcam.min.js -->
	<script type="text/javascript" src="../static/javascript/webcamjs-master/webcam.min.js"></script>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
	 Webcam.set({
	  width: 320,
	  height: 240,
	  image_format: 'jpeg',
	  jpeg_quality: 90
	 });
	 Webcam.attach( '#my_camera' );
		function take_snapshot() {
		 
		 // take snapshot and get image data
		 Webcam.snap( function(data_uri) {
		  // display results in page
		  document.getElementById('results').innerHTML = 
		  '<img src="'+data_uri+'"/>';
		  } );
		}
	</script>
	<!--  

	<center>
		<video id="VidDisplay" autoplay="true">
			No video support in your browser...
		</video>
	</center>

	<script type="text/javascript">
		navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
		if(navigator.getUserMedia) {
			navigator.getUserMedia({video: true}, handleVideo, videoError);
		}
		function handleVideo(stream){
			document.querySelector('#vidDisplay').src = window.URL.createObjectURL(stream);
		}

		function videoError(e) {
			alert("Video error");
		}
	</script>
	-->

	<!-- <button onclick="ShowCam()">button text</button> -->
	<!-- <script src="../static/javascript/webcam.js"></script> -->

<!-- <script src="webcam.js"></script>

	<div id="my_camera" style="width:320px; height:240px;"></div>
	<div id="my_result"></div>

	<script language="JavaScript">
		Webcam.attach( '#my_camera' );
		
		function take_snapshot() {
			Webcam.snap( function(data_uri) {
				document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
			} );
		}
	</script>

	<a href="javascript:void(take_snapshot())">Take Snapshot</a>
 -->
</body>
</html>